# eclipse:
.settings/
.externalToolBuilders/
.project
.classpath
.metadata

# idea:
*.iml
*.ipr
*.iws
.idea/
bin/
classes/

target/
activemq-data/
nb-configuration.xml
# tmp files
.~lock.*

/prototypes/gui/tmp
/web-client/build.sh

gwt-unitCache/
/registry/src/main/webapp/VAADIN/widgetsets

# проект ОЭП
gws-c-fsin