.settings/
.externalToolBuilders/
.project
.classpath
.metadata
*.iml
*.ipr
*.iws
.idea/
bin/
target/
activemq-data/
nb-configuration.xml
.~lock.*
/prototypes/gui/tmp
/web-client/build.sh
gwt-unitCache/
/registry/src/main/webapp/VAADIN/widgetsets
gws-c-fsin
test_doc.txt
test_doc.pdf
gws-client-fns-3777/запрос.xml
gws-client-fns-3777/ответ.xml
