.settings/
.externalToolBuilders/
.project
.classpath
.metadata
*.iml
*.ipr
*.iws
.idea/
bin/
target/
activemq-data/
nb-configuration.xml
.~lock.*
/prototypes/gui/tmp
/web-client/build.sh
gwt-unitCache/
/registry/src/main/webapp/VAADIN/widgetsets
gws-c-fsin
test_doc.txt
test_doc.pdf
tail_log.sh
sublimetext_log.sh
stop_server.sh
start_server.sh
smev_services.txt
siu_users.txt
reqs.txt
req_sample.xml
redeploy_restart.sh
info.txt
deploy.sh
clear_logs.sh
1wc_redeploy.sh
2wc_start.sh
3redeploy-client.sh
4redeploy-wc-pfrfc.sh
5redeploy-wc-midrf.sh
6redeploy-midrf.sh
7redeploy-core.sh
8wc-redeploy.sh
activiti_form_rendering.txt
create_project.txt
execute_tests.sh
