<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  ~ Copyright (c) 2013, MPL CodeInside http://codeinside.ru
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>ru.codeinside.gws.p.router.web.wrap.LoggerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>router</servlet-name>
        <servlet-class>ru.codeinside.gws.p.router.web.Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>router</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>